footer{
    background-color: #6744ce;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #6744ce;
    width: 700px;
    bottom: 0;
    margin: 0;
}